@use 'mixins' as *;
@use 'reset';
@use 'typography';
@use 'variables' as *;

/// NAVBAR SECTION ///

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.6rem 2.6rem;
  
    .logo{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 170px;
    }
  
    .button{
      flex: 0;
      display: flex;
      align-items: center;
  
      .btn{
        background-color: white;
        border: 2px solid $btn-border-color;
        padding: .450rem 1.8rem;
        border-radius: 50px;
        font-size: .720rem;
        font-weight: 600;
        color: $btn-border-color;
        box-shadow: 0px 0px 25px -10px rgba(15, 14, 14, 0.25);
        white-space: nowrap;
      }

      .btn:hover{
        color: #fd91d6;
        border: 2px solid #fd91d6;
      }
    }
}

                       /// MAIN SECTION ///

/// FIRST SECTION ///

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8.5rem;
  
  .row-1 {
    text-align: center;
  }

  h1{
    font-size: 3rem;
    color: $main-color;
    margin: 4rem 0 1.5rem 0;
  }

  .paragraph{
    text-align: center;
    margin: 0 auto 3rem auto;
    color: $text-color;
    width: 500px;
  }

  .btn-started{
    @include btn-started-1;
  }
  
  .row-2 {
    margin: 0 auto;
  }

  .img-mockups{
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
}

.container-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 8.5rem 4rem 8.5rem;

  .column {
    display: flex;
    flex-direction: column;
  }
  
  .column-1 {
    padding-left: 4rem;
  }
  
  .column-2 {
    padding-right: 4rem;
  }

  .first-icon{
    width: 38px;
  }

  .num{
    color: $main-color;
    font-size: 4.5rem;
    font-weight: 700;
  }

  .name{
    color: #959ea6;
    text-align: center;
  }
}

/// SECOND SECTION ///

.second-section{
  background-image: url(/images/bg-section-top-desktop-1.svg);
  // background-color: #f6fbff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: right;
  // min-height: 100vh;
  // min-width: 100vw;
  margin-bottom: 4rem;

  .second-container{  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grow-text grow-img";
    margin: 0 5rem 0 5rem;
  
    .grow-text {
      justify-self: start;
      align-self: center;
      grid-area: grow-text;
      padding-right: 3rem;
    }

    h2{
      color: $main-color;
      margin-bottom: 1rem;
    }

    .paragraph-grow{
      color: $text-color;
    }
    
    .grow-img {
      justify-self: end;
      align-self: center;
      grid-area: grow-img;
      padding: 2rem;
    }

    .img-grow{
      width: 100%;
    }
  }
}

