@use 'mixins' as *;
@use 'reset';
@use 'typography';
@use 'variables' as *;

/// NAVBAR SECTION ///

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.6rem 2.6rem;
  
    .logo{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 170px;
    }
  
    .button{
      flex: 0;
      display: flex;
      align-items: center;
  
      .btn{
        background-color: white;
        border: 2px solid $btn-border-color;
        padding: .450rem 1.8rem;
        border-radius: 50px;
        font-size: .720rem;
        font-weight: 600;
        color: $btn-border-color;
        box-shadow: 0px 0px 25px -10px rgba(15, 14, 14, 0.25);
        white-space: nowrap;
      }

      .btn:hover{
        color: #fd91d6;
        border: 2px solid #fd91d6;
      }
    }
}

                       /// MAIN SECTION ///

/// FIRST SECTION ///

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8.5rem;
  
  .row-1 {
    text-align: center;
  }

  h1{
    font-size: 3rem;
    color: $main-color;
    margin: 4rem 0 1.5rem 0;
  }

  .paragraph{
    text-align: center;
    margin: 0 auto 3rem auto;
    color: $text-color;
    width: 500px;
  }

  .btn-started{
    @include btn-started-1;
  }
  
  .row-2 {
    margin: 0 auto;
  }

  .img-mockups{
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
}

.container-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 8.5rem 4rem 8.5rem;

  .column {
    display: flex;
    flex-direction: column;
  }
  
  .column-1 {
    padding-left: 4rem;
  }
  
  .column-2 {
    padding-right: 4rem;
  }

  .first-icon{
    width: 38px;
  }

  .num{
    color: $main-color;
    font-size: 4.5rem;
    font-weight: 700;
  }

  .name{
    color: #959ea6;
    text-align: center;
  }
}

/// SECOND SECTION ///

